<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.Net">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="System.Net" value="Information" maxdatasize="2048"/>
      <add name="System.Net.Sockets" value="Information" />
    </switches>
    <sharedListeners>
      <add name="System.Net"
           type="System.Diagnostics.TextWriterTraceListener"
           initializeData="net_trace.log"
           />
    </sharedListeners>
    <trace autoflush="true">
      <listeners>
        <add name="System.Net" type="System.Diagnostics.TextWriterTraceListener" initializeData="nettrace.log"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>